@import url("font-awesome.min.css");
@import url("css.css");
@import url("css-1.css");
@import url("css-2.css");
@import "animate.css";
.white {
  color: #ffffff;
}
.primary {
  color: #ffbd02;
}
/*============  Floats  =============*/
.f__left {
  float: left;
}
.f__right {
  float: right;
}



/*============= Overflow ===============*/
.o__hidden {
  overflow: hidden;
}
/*========================================================
                    Main layout styles
=========================================================*/
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  
  color: #606060;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
* {
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2,
h3 {
  color: #000000;
}
h1 {
  font: 400 72px/76px 'Playball', sans-serif;
}
h2 {
  font: 400 23px/26px 'PT Serif', sans-serif;
}
h3 {
  font: 400 13px/18px 'Asap', sans-serif;
 
}
h3 a:hover {
  color: #ffbd02;
}
.pr {
  padding-right: 50px;
}

.wrap-container {
  position: relative;
  width: 1328px;
  margin: 0 auto;
  background: #ffffff;

  behavior: url("PIE.htc.html");
}

.page {
  overflow: hidden;

}
/*========================================================
                    Main Layout
=========================================================*/
p + p {
  margin-top: 17px;
}
h3 + p {
  margin-top: 24px;
}
h3 + p.off1,
h3 + .post_meta {
  margin-top: 10px;
}
p + h3 {
  margin-top: 31px;
}
h2 + h3,
h2 + .event-list,
h2 + .quote-box,
h2 + .box,
h2 + .number-list,
h2 + .row__in,
h2 + .post {
  margin-top: 27px;
}
h2 + p {
  margin-top: 28px;
}
h3 + .row {
  margin-top: 33px;
}
.img-border + h3,
.gallery + h3 {
  margin-top: 15px;
}
.row + p {
  margin-top: 37px;
}
p + .row {
  margin-top: 25px;
}
p + .icon-list {
  margin-top: 29px;
}

* + .btn {
  margin-top: 20px;
}
/*========================================================
                    HEADER styles
=========================================================*/
.company {
   display: inline-block;

  float: left;
  color: #ffffff;
  position: absolute;
  
}
.company_cnt {
  display: inline-block;
}
.company_slogan {
  font: 400 12px/20px 'Droid Sans', sans-serif;
  margin-top: -8px;
}

.wrap {
  float: right;
  margin-top: 35px;
}

/* Social list */
.social-list ,.lang-list{
  float: right;
  margin-right: 6px;
  
}
.social-list li ,.lang-list li{
  display: inline-block;
  text-align: center;
}
.social-list li a {
  display: inline-block;
  position: relative;

  line-height: 24px;
  color: #ffffff;
  border-radius: 50%;
  font-size: 16px;
  z-index: 1;
}
.social-list li a:hover,.lang-list li a:hover {
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ie8 .social-list li a:hover,.ie8 .lang-list li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.social-list li a.fa-facebook {
  background: #4365ab;
}
.social-list li a.fa-twitter {
  background: #46e3ee;
}
.social-list li a.fa-rss {
  background: #ff9124;
}

/* Main menu styles
========================================================*/
nav {
  position: relative;
 
  float:right;
}
#menu{
  background: url("menu.png");
 
  margin-top: 30px;
}

.sf-menu{
  display: inline-block;
  height: 100px;
  margin-top: 4px;
}
.sf-menu  li {
  float: left;
  position: relative;
  width: 120px;
  height: 100px;
  text-align: center;
  background: url("divider.png") no-repeat;
}
.sf-menu > li > a {
  display: inline-block;
  position: relative;
  font:  16px/18px 'PT Serif', sans-serif;
  padding-top: 55px;
  color: #777777;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  height: 100px;
}
.sf-menu > li > a.sf-with-ul:before {
  content: '\f107';
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
  color: #777777;
}
.sf-menu > li > a:hover {
  text-decoration: none;
  color: #000;
}
.sf-menu li:hover {
  background:url("menu_hover.png") no-repeat;
  color:#000;
}
.sf-menu li:hover > a{
  
  color:#000;
}
.sf-menu > li > a:hover.sf-with-ul:before {
  color: #ffbd02;
}
.sf-menu > li:first-child {
 

}
.sf-menu > li:first-child:before {
  display: none;
}



.sf-menu li.current{
  background: url("menu_hover.png") no-repeat;
  color: #000;
}
.sf-menu > li.current > a,
.sf-menu > li.sfHover > a {
  color: #000;
}
.sf-menu > li.current > a.sf-with-ul:before,
.sf-menu > li.sfHover > a.sf-with-ul:before {
  color: #ffbd02;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 4;
  width: 150px;
  padding: 15px 0;
  display: none;
  background: #777777;
  text-align: center;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul li {
  position: relative;
  font: 700 14px/18px 'PT Serif', sans-serif;
}
.sf-menu ul li a {
  display: block;
}
.sf-menu ul li a:hover {
  text-decoration: none;
  color: #818181;
}
.sf-menu ul li + li {
  margin-top: 8px;
}
.sf-menu ul li.sfHover > a {
  color: #ffbd02;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: -5px;
  left: 160px;
  z-index: 4;
  background: #777;
}
.sf-menu ul ul:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent #777 transparent transparent;
}
.sf-menu .fa span {
  display: none;
}


/*============ Background ==============*/
/* Stuck menu styles
========================================================*/
.isStuck {
  background: #ffffff;
  -webkit-box-shadow: 0 0 2px #000000;
  -moz-box-shadow: 0 0 2px #000000;
  box-shadow: 0 0 2px #000000;
  z-index: 999;
}
#header .isStuck {
  left: 0;
}
#header .isStuck nav {
  float: none;
  margin-top: 5px;
  padding: 0 0 10px;
}
#header .isStuck nav:before {
  display: none;
}
#header .isStuck .sf-menu {
  text-align: center;
}
#header .isStuck .sf-menu > li > ul {
  top: 28px;
}
#header .isStuck .sf-menu > li {
  float: none;
  display: inline-block;
}
#header .isStuck .wrap {
  float: none;
  margin-top: 0;
}
#header .isStuck .company,
#header .isStuck .search,
#header .isStuck .social-list {
  display: none;
}

/*========================================================
                    CONTENT styles
=========================================================*/
.content {
  background: #ffffff;
}
.aside-border {
  position: relative;
  padding-right: 96px;
}
.aside-border:before {
  content: '';
  position: absolute;
  right: 39px;
  top: -9px;
  bottom: -34px;
  width: 1px;
  background: #ececec;
}


.img-border {
  position: relative;
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  behavior: url("PIE.htc.html");
}
/* Wrappers */
.wrapper1 {
  padding: 41px 0 58px;
}
.wrapper1__in1 {
  padding-top: 25px;
}
.wrapper2 {
  padding: 32px 0 63px;
}
.wrapper2__in1 {
  padding-bottom: 46px;
}
.wrapper3 {
  padding: 25px 0 33px;
}
.mt-img {
  margin-top: 5px;
}
/* Box */
.box_left {
  float: left;
  margin-right: 10px;
}

/*   Event List  */
.event-list li {
  position: relative;
}
.event-list li + li {
  border-top: 1px dotted #cbcbcb;
  margin-top: 15px;
  padding-top: 30px;
}
.btn {
  margin-top: 13px;
  float: right;
  color: #fff;

  padding: 10px 15px;
  border-radius: 8px;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(top, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to bottom, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
  outline:none;
}
.btn:hover {
  margin-top: 13px;
  float: right;
  color: #FFBD02;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(bottom, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to top, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}
.event_date {
  color: #ffbd02;
  font: 700 30px/24px 'Asap', sans-serif;
}
.event_date span {
  font-size: 17px;
  font-weight: 400;
}
/* Icon List */
.icon-list li {
  font: 400 13px/18px 'Asap', sans-serif;
 
}
.icon-list li:before,
.icon-list li:after {
  content: " ";
  display: table;
}
.icon-list li:after {
  clear: both;
}
.icon-list li img {
  margin-top: -7px;
}
.icon-list li + li {
  margin-top: 15px;
}
.icon-list li a:hover {
  color: #ffbd02;
}
/* Divider */
hr {
  border: none;
  height: 1px;
  background: #dadada;
}
/* Quote box */
.quote-box {
  padding-left: 38px;
  background: url("quote.png") no-repeat 0 3px;
}
.quote-box p + h3 {
  margin-top: 8px;
}
.quote-box + .quote-box {
  margin-top: 24px;
}
/* img-wrap */
.img-wrap {
  position: relative;
  display: inline-block;
}
.img-wrap a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: block;
  width: 22px;
  height: 19px;
  background: url("search.png") no-repeat 85% 95% #ffffff;
}
.img-wrap a:hover {
  width: 40px;
  height: 40px;
  background: url("search.png") no-repeat center center #ffffff;
}

/*Partner list */
.partner {
  margin-top: 17px;
}
.partner img {
  float: left;
}
.partner h3 {
  text-transform: none;
}
.partner h3 + p {
  margin-top: 0;
}
.partner p {
  font-size: 11px;
}

/* number-list */
.number-list li {
  position: relative;
  padding-left: 70px;
}
.number-list li:before {
  content: attr(data-number);
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  font: 700 30px/50px 'Asap', sans-serif;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  background: #ffbd02;
}
.number-list li + li {
  margin-top: 30px;
}

/*   Buttons  */
.btn {
  display: inline-block;
  font: 400 13px/18px 'Asap', sans-serif;
  
}
.btn:hover {
  text-decoration: none;
 
}
/* Isotope */
.isotope {
  margin-left: -20px;
}
.isotope .element-item {
  margin-top: 40px;
}
.button-group {
  float: right;
  font: 400 13px/18px 'Asap', sans-serif;
  color: #000000;
}
.button {
  position: relative;
  padding-left: 8px;
  margin-left: 5px;
}
.button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
  height: 12px;
  background: #000000;
}
.button:first-child:before {
  display: none;
}
.button.active {
  color: #ffbd02;
}
/* Gallery Hover */
.gallery {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: transparent;
}
.gallery img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ie8 .gallery .overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.gallery .hover {
  font: 700 14px/14px 'Asap', sans-serif;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: -7px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ie8 .gallery .hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}
.gallery:hover {
  text-decoration: none;
}
.gallery:hover .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery:hover .hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ie8 .gallery:hover .hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
}
.gallery:hover img {
  transform: scale(1.2);
}
/* address */
address {
  font: 400 13px/18px 'Asap', sans-serif;
  text-transform: uppercase;
  color: #000000;
}
address a {
  text-decoration: underline;
  color: #ffbd02;
}
address a:hover {
  color: #000000;
}
address dl {
  margin-top: 23px;
}
dl,
.mail {
  font: 400 13px/17px 'Droid Sans', sans-serif;
  text-transform: none;
}
dl dd,
.mail dd,
dl dt,
.mail dt {
  display: inline-block;
}
dl dt,
.mail dt {
  padding-right: 8px;
}
/* Post */
.post .event_date {
  float: left;
  margin-right: 20px;
}
.post_meta a:hover {
  text-decoration: underline;
}
.post_cnt {
  margin-top: 9px;
}
.post_cnt img {
  float: left;
  margin-right: 20px;
}

.post_author {
  float: left;
}
.post_comment {
  float: right;
  margin: 0;
}
.post:before,
.post:after {
  content: " ";
  display: table;
}
.post:after {
  clear: both;
}
.post + .post {
  margin-top: 35px;
}
.policy-link {
  margin-top: 20px;
  font-family: 'Arial';
}
.policy-link a {
  text-decoration: underline;
}
.policy-link a:hover {
  color: #000000;
}
.map {
  height: 313px;
  position: relative;
  margin: 32px 0 27px;
}

.google-map-api {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map-canvas img {
  max-width: none !important;
}
/*========================================================
                    FOOTER styles
=========================================================*/
.footer {
  padding: 30px 0;
  font-size: 11px;
  color: #7d7a7c;
  background: url("bg-footer.png");
}
.footer a:hover {
  text-decoration: underline;
}

.copyright {
  float: left;
}
.list {
  float: right;
}
.list li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding-left: 12px;
  margin-left: 3px;
}
.list li:before {
  content: '\f111';
  position: absolute;
  left: 0;
  top: 0;
  font-family: FontAwesome;
  font-size: 4px;
  line-height: 18px;
  color: #b8b7b4;
}
.list li:first-child:before {
  display: none;
}
/*========================================================
                    Widget styles
=========================================================*/
/* Stellar(parallaxBG) styles
========================================================*/
.stellar {
  background-position: 0 0;
  overflow: hidden;
  background-attachment: fixed;
}

.stellar .icon {
  width: 104px;
  height: 104px;
  line-height: 104px;
  font-size: 39px;
  background: #ffbd02;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stellar .icon:hover {
  text-decoration: none;
  background: #000000;
}
.stellar1 {
  background-image: url("page1-img1.jpg");
  background-position: center 30%;
  text-align: center;
  padding-bottom: 184px;
}
.stellar1 h2,
.stellar1 h3 {
  color: #ffffff;
}
.stellar1 h2 {
  font-size: 80px;
  line-height: 93px;
  font-weight: 300;
  text-transform: none;
}

.stellar1 h3 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ie8 .stellar1 h3 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

.stellar1 * + h2 {
  margin-top: 117px;
}
.stellar1 * + .search1 {
  margin-top: 62px;
}

.page2 .stellar1 {
  padding-bottom: 57px;
}
.stellar2 {
  background-image: url("page1-img2.jpg");
  background-position: center 0%;
  padding: 93px 0 121px;
}
.stellar2 .icon {
  margin-top: 10px;
}
.stellar2 h2 {
  color: #ffffff;
  display: inline-block;
}

.stellar3 {
  background-image: url("page2-img2.jpg.html");
  background-position: center 0%;
  padding: 191px 0 95px;
}
.stellar3 h2 {
  color: #ffffff;
  display: block;
}

.stellar4 {
  background-image: url("page4-img1.jpg.html");
  background-position: center 0%;
  padding: 180px 0 75px;
}
.stellar4 .icon {
  margin-top: 15px;
}
.stellar4 h5 {
  margin-top: 25px;
}
.stellar4 h2 {
  color: #ffffff;
  display: block;
}

.search {
  display: block;
  float: right;
  position: relative;
  width: 213px;
  margin-right: 29px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search .input_wrap {
  position: relative;
  display: inline-block;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0;
  -webkit-appearance: none;
}
.search input {
  width: 80%;
  font: normal 13px/17px 'Droid Sans', sans-serif;
  display: block;
  position: relative;
  padding-left: 20px;
  height: 100%;
  outline: none;
  background-color: transparent;
  color: #464646;
  border: none;
  overflow: hidden;
  margin: 0;
}
.search a {
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 7px;
}
.search a:hover {
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ie8 .search a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

/* UItoTop styles
========================================================*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  font-size: 26px;
  z-index: 20;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ffbd02;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#toTop:hover {
  background: #000000;
}

.img{
	height:430px;
	background:url("img_bg.png") no-repeat center center;
}
#tabs{
	  margin-top: 60px;
	  width: 282px;
}
#tabs ul li{
	display:inline-block;
}
.ui-tabs-active{
	color:#000;
}
.contacts_text{
	border:1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	  padding: 15px;
}
#form{
float: right;
	  width: 286px;
  border: 1px solid #000;
  background-color: #fff;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	  padding: 15px 0;
	  margin-top: 20px;
}
#form_top{
	margin-top: 10px;
	height:50px;
	  text-align: center;
  background: url("form_label_bg.png");
  font-size: 22px;
  line-height: 2.4;
}
.inp{
	padding:0 20px;
}
.inp input{
	  width: 222px;
  height: 40px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
}
.inp label{
	color:#000;
}
.inp label.error{
  color: #FF0505 !important;
  font-size: 11px;
}
#sub{
	color: #fff;

  padding: 10px 15px;
  border-radius: 8px;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(top, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to bottom, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
  border: none;
}

#sub:hover{
 color: #FFBD02;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(bottom, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to top, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
  cursor:pointer;
  outline:none;
}

.post{
	border-bottom: 1px solid #000;
  padding-bottom: 15px;
  color:#000;
    font-family: serif;
}
.news{
font-size: 20px;
font-family: serif;
}
.news-list{
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.news-list p{
color: #000;
  line-height: 3;
  font-size: 14px;
  font-family: serif;
}
.list_current{
	  color: #ffbd02 !important;
}

/* carouFredSel */
.list_carousel h3{text-align:center; background: url("list_li.jpg.html") repeat-x center top; padding-top: 30px;}
.list_carousel{width: 1150px;}
.list_carousel ul{margin: 0; padding: 0; list-style: none; display: block;}
.list_carousel li{border: 1px solid #999; width:150px; height:70px; padding: 0; margin: 3px; display: block; float: left;}
.list_carousel.responsive{width: auto; margin-left: 0;}
.clearfix{float: none; clear: both;}
#prev{  position: relative;
  top: -120px;
  background: url("arrows1.png");
  height: 32px;
  width: 32px;
  background-size:32px;
  left: 32px;}
#next{  position: relative;
  top: -152px;
  background: url("arrows2.png") 0 -32px;
  height: 32px;background-size:32px;
  width: 32px;
  left: 65px;}
#next:hover{background-position: -32px -32px;}
#prev:hover{background-position: -32px 0;}
.pager{float: left; width: 300px; text-align: center;}
.pager a{margin: 0 5px; text-decoration: none;}
.pager a.selected{text-decoration: underline;}
.timer{background-color: #999;	height: 6px;	width: 0px;}
/* END carouFredSel */

.gallery_link{
	font-weight:bold;
}
.gallery_link:hover{
	text-decoration:underline;
}
#commentForm textarea{
	  width: 222px;
  height: 90px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  resize: none;
}
#commentForm label{
	color:#000;
	line-height: 3;
	width: 80px;
    display: block;
    float: left;
}